@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 15, 23, 42;
  --background-start-rgb: 255, 247, 237;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 12, 10, 9;
    --background-end-rgb: 12, 10, 9;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 24 95% 53%;
    --primary-foreground: 0 0% 100%;
    --secondary: 30 20% 96%;
    --secondary-foreground: 24 95% 45%;
    --muted: 30 20% 96%;
    --muted-foreground: 25 5.3% 45%;
    --accent: 30 20% 96%;
    --accent-foreground: 24 95% 45%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 30 15% 90%;
    --input: 30 15% 90%;
    --ring: 24 95% 53%;
    --chart-1: 24 95% 53%;
    --chart-2: 38 92% 50%;
    --chart-3: 14 100% 57%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.75rem;
  }
  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 5.5%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 5.5%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 24 95% 53%;
    --primary-foreground: 0 0% 100%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 16.5%;
    --input: 12 6.5% 16.5%;
    --ring: 24 95% 53%;
    --chart-1: 24 95% 53%;
    --chart-2: 38 92% 50%;
    --chart-3: 14 100% 57%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
